
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
}